Repository googleapis/java-firestore, pull requests merged in 2021-06, with the labels that each got.

#645 chore: cloud-rad doc generation
  pom.xml
Labels: api: firestore, automerge, cla: yes

#658 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: firestore, automerge, cla: yes

#653 fix: return results from getPartitions() in order
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/CollectionGroup.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Order.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/PartitionQuery.java
Labels: api: firestore, cla: yes

#664 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: firestore, automerge, cla: yes

#659 chore(deps): gapic-generator-java v1.0.10
  google-cloud-firestore-admin/src/test/java/com/google/cloud/firestore/v1/FirestoreAdminClientTest.java
  synth.metadata
Labels: api: firestore, automerge, cla: yes, context: full

#670 test(fix): remove assertion on error message for reads older than 60 seconds
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITSystemTest.java
Labels: api: firestore, automerge, cla: yes

#671 fix: handle thrown exceptions in runAsyncTransaction callback
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/TransactionRunner.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/TransactionTest.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITSystemTest.java
Labels: api: firestore, cla: yes

#676 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: firestore, automerge, cla: yes

#673 feat: add shutdown() and shutdownNow()
  google-cloud-firestore/clirr-ignored-differences.xml
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Firestore.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FirestoreImpl.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Watch.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/spi/v1/FirestoreRpc.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/spi/v1/GrpcFirestoreRpc.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITQueryWatchTest.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITShutdownTest.java
Labels: api: firestore, cla: yes

#681 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: firestore, automerge, cla: yes
