Repository googleapis/java-firestore, pull requests merged in 2021-01, with the labels that each got.

#494 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: firestore, automerge, cla: yes

#483 feat: add success and error callbacks to BulkWriter
  google-cloud-firestore/clirr-ignored-differences.xml
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/BulkCommitBatch.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/BulkWriter.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/BulkWriterException.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Firestore.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FirestoreException.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FirestoreImpl.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Transaction.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/UpdateBuilder.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/WriteBatch.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/BulkWriterTest.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/ITBulkWriterTest.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/WriteBatchTest.java
Labels: api: firestore, cla: yes

#497 fix: add @BetaApi, make BulkWriter public, and refactor Executor
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/BulkWriter.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/BulkWriterException.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/BulkWriterOptions.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Firestore.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FirestoreImpl.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/BulkWriterTest.java
Labels: api: firestore, cla: yes

#498 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: firestore, automerge, cla: yes

#477 chore: make FirestoreException factory methods public to allow construction for testing
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/BulkCommitBatch.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/BulkWriterOptions.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/CollectionGroup.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/CollectionReference.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/DocumentReference.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/DocumentTransform.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FirestoreException.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FirestoreOptions.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Query.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/TransactionRunner.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/UpdateBuilder.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/UserDataConverter.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Watch.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/BulkWriterTest.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/QueryTest.java
Labels: api: firestore, cla: yes

#478 feat: add CollectionGroup#getPartitions(long)
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/CollectionGroup.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITSystemTest.java
Labels: api: firestore, cla: yes

#500 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: firestore, automerge, cla: yes

#502 fix: make BulkWriterOptions public
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/BulkWriterOptions.java
Labels: api: firestore, cla: yes

#501 build: fix version tags to use correct values
  google-cloud-firestore-bom/pom.xml
  pom.xml
Labels: api: firestore, cla: yes

#505 chore: regenerate README
  .github/readme/synth.metadata/synth.metadata
  README.md
Labels: api: firestore, automerge, cla: yes

#511 chore: adding docfx doclet resource
  .kokoro/release/publish_javadoc.cfg
  synth.metadata
Labels: api: firestore, automerge, cla: yes, context: full

#513 fix: don't throw NPE in DocumentSnapshot.getDate() when value is missing
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/DocumentSnapshot.java
Labels: api: firestore, cla: yes

#515 build: migrate to flakybot
  .kokoro/build.sh
Labels: api: firestore, automerge, cla: yes
