Repository googleapis/java-firestore, pull requests merged in 2022-02, with the labels that each got.

#870 tests: add coverage for a successful read-only transaction with readTime
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITSystemTest.java
Labels: api: firestore

#831 chore: make owlbot check required
  .github/sync-repo-settings.yaml
Labels: api: firestore, automerge

#872 docs(sample): Add sample for native image support in Firestore
  samples/native-image-sample/README.md
  samples/native-image-sample/pom.xml
  samples/native-image-sample/src/main/java/com/example/firestore/NativeImageFirestoreSample.java
  samples/native-image-sample/src/main/java/com/example/firestore/Person.java
  samples/native-image-sample/src/main/resources/META-INF/native-image/reflect-config.json
  samples/native-image-sample/src/test/java/com/example/firestore/ITNativeImageFirestoreSample.java
  samples/pom.xml
Labels: api: firestore, samples

#878 fix(java): add reflection configuration for native image tests
  google-cloud-firestore/src/main/resources/META-INF/native-image/reflect-config.json
Labels: api: firestore
