Repository googleapis/java-firestore, pull requests merged in 2022-11, with the labels that each got.

#1089 chore: adding missing region tag
  samples/snippets/src/main/java/com/example/firestore/Quickstart.java
  samples/snippets/src/main/java/com/example/firestore/snippets/QueryDataSnippets.java
Labels: api: firestore, automerge

#1122 chore: remove obsolete region tags
  samples/snippets/src/main/java/com/example/firestore/Quickstart.java
  samples/snippets/src/main/java/com/example/firestore/snippets/ListenDataSnippets.java
  samples/snippets/src/main/java/com/example/firestore/snippets/ManageDataSnippets.java
  samples/snippets/src/main/java/com/example/firestore/snippets/QueryDataSnippets.java
  samples/snippets/src/main/java/com/example/firestore/snippets/References.java
  samples/snippets/src/main/java/com/example/firestore/snippets/RetrieveDataSnippets.java
  samples/snippets/src/main/java/com/example/firestore/snippets/model/City.java
Labels: api: firestore

#1137 chore: update native image checks to use graalvm 22.3.0
  .kokoro/presubmit/graalvm-native-17.cfg
  .kokoro/presubmit/graalvm-native.cfg
Labels: api: firestore, size: xs
