Repository googleapis/java-firestore, pull requests merged in 2023-08, with the labels that each got.

#1267 feat: Add long alias support for aggregations.
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/AggregateQuery.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/LocalFirestoreHelper.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/QueryCountTest.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/TransactionTest.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITQueryAggregationsTest.java
Labels: api: firestore, size: m

#1397 Add warning message when passing DcoumentReference in cursor
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Query.java
Labels: api: firestore, size: s

#1400 ci: javadoc as a required check
  .github/sync-repo-settings.yaml
Labels: api: firestore, automerge, size: xs

#1401 Check orderBy clause when display warning for DocumentReference in cursor
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Query.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/QueryTest.java
Labels: api: firestore, size: s
