Repository googleapis/java-firestore, pull requests merged in 2024-03, with the labels that each got.

#1588 fix: Only override built-in retry settings when the customer provides them.
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/spi/v1/GrpcFirestoreRpc.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/spi/v1/GrpcFirestoreRpcTest.java
Labels: api: firestore, size: l

#1621 test: Adding first e2e client-tracing test w/ Custom Root Span
  google-cloud-firestore/pom.xml
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITE2ETracingTest.java
Labels: size: l

#1531 feat: Add FirestoreOpenTelemetryOptions to FirestoreOptions.
  google-cloud-firestore/pom.xml
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FirestoreOpenTelemetryOptions.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FirestoreOptions.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/OpenTelemetryOptionsTest.java
Labels: api: firestore, size: m

#1533 feat: Add com.google.cloud.firestore.telemetry package.
  google-cloud-firestore/pom.xml
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FirestoreOpenTelemetryOptions.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FirestoreOptions.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/telemetry/DisabledTraceUtil.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/telemetry/EnabledTraceUtil.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/telemetry/TraceUtil.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/OpenTelemetryOptionsTest.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/telemetry/DisabledTraceUtilTest.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/telemetry/EnabledTraceUtilTest.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/telemetry/TraceUtilTest.java
Labels: api: firestore, size: l

#1589 fix: Remove OpenCensus tracing code.
  google-cloud-firestore/pom.xml
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/BulkCommitBatch.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/CollectionGroup.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/CollectionReference.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/DocumentReference.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FirestoreImpl.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Query.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/TraceUtil.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Transaction.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/TransactionRunner.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/UpdateBuilder.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Watch.java
Labels: api: firestore, size: l

#1624 chore: update renovate for unmanaged dependency check
  .github/workflows/unmanaged-dependency-check.yaml
  renovate.json
Labels: api: firestore, size: s

#1590 feat: tracing for aggregate queries, bulkwriter, partition queries, a…
  google-cloud-firestore/pom.xml
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/AggregateQuery.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/BulkWriter.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/CollectionGroup.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/CollectionReference.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITTracingTest.java
Labels: api: firestore, size: l

#1591 feat: trace instrumentation for DocumentReference methods.
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/DocumentReference.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/UpdateBuilder.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITTracingTest.java
Labels: api: firestore, size: l

#1592 feat: trace instrumentation for queries and transactions.
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FirestoreImpl.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Query.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Transaction.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/TransactionRunner.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITTracingTest.java
Labels: api: firestore, size: l
