Repository googleapis/java-firestore, pull requests merged in 2024-10, with the labels that each got.

#1827 feat: Add support for vector search with Query#findNearest
  README.md
  google-cloud-firestore/clirr-ignored-differences.xml
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/GenericQuerySnapshot.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Query.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/QueryDocumentSnapshot.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/QuerySnapshot.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/StreamableQuery.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/VectorQuery.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/VectorQueryOptions.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/VectorQuerySnapshot.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/VectorValue.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/LocalFirestoreHelper.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/VectorQueryTest.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITQueryCountTest.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITQueryFindNearestTest.java
Labels: api: firestore, size: xl

#1883 chore: setup renovate to update action
  renovate.json
Labels: api: firestore, size: s

#1866 fix: Add the deprecation notice for tracing enable/disable option.
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FirestoreOpenTelemetryOptions.java
Labels: api: firestore, size: s

#1892 feat: Improve Logging
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/CollectionGroup.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/DocumentChange.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/GenericQuerySnapshot.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/SilenceableBidiStream.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/StreamableQuery.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/VectorQuery.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/VectorQueryOptions.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/VectorValue.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Watch.java
Labels: api: firestore, size: m

#1896 fix: make StreamableQuery#internalStream package-private to avoid documentation and prevent clirr errors
  google-cloud-firestore/clirr-ignored-differences.xml
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/StreamableQuery.java
Labels: api: firestore, size: s
