Repository googleapis/java-firestore, pull requests merged in 2024-02, with the labels that each got.

#1565 fix: Transactions with `readTime` will omit begin and commit transaction requests, and instead pass `readTime` on individual read requests.
  google-cloud-firestore/clirr-ignored-differences.xml
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/AggregateQuery.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FirestoreImpl.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Query.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/ReadTimeTransaction.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/ServerSideTransaction.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/ServerSideTransactionRunner.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Transaction.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/UpdateBuilder.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITSystemTest.java
Labels: api: firestore, size: l

#1569 chore: use sdk-platform-java-config to consolidate build config
  .kokoro/presubmit/graalvm-native-17.cfg
  .kokoro/presubmit/graalvm-native.cfg
  google-cloud-firestore-bom/pom.xml
  pom.xml
Labels: api: firestore, size: s

#1570 chore: add renovate-bot config to update sdk-platform-java-config
  renovate.json
Labels: api: firestore, automerge, size: s
