Repository googleapis/java-firestore, pull requests merged in 2024-11, with the labels that each got.

#1855 fix: Improve error messages in tests
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/WatchTest.java
Labels: kokoro:force-run, api: firestore, size: s

#1840 Feat: client side metrics
  google-cloud-firestore/clirr-ignored-differences.xml
  google-cloud-firestore/pom.xml
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/AggregateQuery.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/BulkWriter.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/CollectionGroup.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/CollectionReference.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/DocumentReference.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FirestoreImpl.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FirestoreOpenTelemetryOptions.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FirestoreOptions.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Query.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/ReadTimeTransaction.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/ServerSideTransaction.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/ServerSideTransactionRunner.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/StreamableQuery.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Transaction.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/UpdateBuilder.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/spi/v1/GrpcFirestoreRpc.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/telemetry/BuiltinMetricsProvider.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/telemetry/ClientIdentifier.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/telemetry/CompositeApiTracer.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/telemetry/CompositeApiTracerFactory.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/telemetry/DisabledMetricsUtil.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/telemetry/DisabledTraceUtil.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/telemetry/EnabledMetricsUtil.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/telemetry/MetricsUtil.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/telemetry/TelemetryConstants.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/telemetry/TraceUtil.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITE2ETracingTest.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITTracingTest.java
Labels: api: firestore, size: xl

#1900 Add transaction related metrics
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/AggregateQuery.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/BulkWriter.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/CollectionGroup.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/CollectionReference.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/DocumentReference.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FirestoreImpl.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/ServerSideTransactionRunner.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/StreamableQuery.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/telemetry/BuiltinMetricsProvider.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/telemetry/DisabledMetricsUtil.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/telemetry/EnabledMetricsUtil.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/telemetry/MetricsUtil.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/telemetry/TelemetryConstants.java
Labels: api: firestore, size: l

#1922 Refactor and fix pipelines
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/pipeline/stages/AbstractStage.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/pipeline/stages/AddFields.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/pipeline/stages/Aggregate.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/pipeline/stages/Collection.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/pipeline/stages/CollectionGroup.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/pipeline/stages/Database.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/pipeline/stages/Distinct.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/pipeline/stages/Documents.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/pipeline/stages/FindNearest.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/pipeline/stages/GenericStage.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/pipeline/stages/Limit.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/pipeline/stages/Offset.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/pipeline/stages/RemoveFields.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/pipeline/stages/Replace.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/pipeline/stages/Sample.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/pipeline/stages/SampleOptions.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/pipeline/stages/Select.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/pipeline/stages/Sort.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/pipeline/stages/Stage.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/pipeline/stages/StageUtils.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/pipeline/stages/Union.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/pipeline/stages/Unnest.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/pipeline/stages/Where.java
Labels: api: firestore, size: l

#1869 fix: Drop the setTracingEnabled flag from Options (@BetaApi change)
  google-cloud-firestore/clirr-ignored-differences.xml
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/AggregateQuery.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FirestoreOpenTelemetryOptions.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/StreamableQuery.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/telemetry/DisabledTraceUtil.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/telemetry/EnabledTraceUtil.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/telemetry/TraceUtil.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/OpenTelemetryOptionsTest.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITE2ETracingTest.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITTracingTest.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/telemetry/EnabledTraceUtilTest.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/telemetry/TraceUtilTest.java
Labels: api: firestore, size: l

#1936 chore: make library generation required
  .github/sync-repo-settings.yaml
  README.md
Labels: api: firestore, size: xs

#1942 chore: mark the unmanaged dependency check required
  .github/sync-repo-settings.yaml
Labels: api: firestore, size: xs
