Repository googleapis/java-firestore, pull requests merged in 2024-09, with the labels that each got.

#1805 Fix Instant-record merge
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/BeanMapper.java
Labels: api: firestore, size: xs

#1806 chore: remove unused image tag in .OwlBot-hermetic.yaml
  .github/.OwlBot-hermetic.yaml
Labels: api: firestore, size: xs

#1804 ci: simplify java 8 unit tests
  .github/workflows/ci.yaml
Labels: api: firestore, size: s

#1815 chore: Add Clirr exemptions for Protobuf 4.27.4+ runtime
  proto-google-cloud-firestore-admin-v1/clirr-ignored-differences.xml
  proto-google-cloud-firestore-bundle-v1/clirr-ignored-differences.xml
  proto-google-cloud-firestore-v1/clirr-ignored-differences.xml
Labels: api: firestore, size: m

#1706 Feat: Record serialization/deserialization
  google-cloud-firestore/pom.xml
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/CollectionReference.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/CustomClassMapper.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/DocumentSnapshot.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FieldValue.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Internal.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Query.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/QuerySnapshot.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/UpdateBuilder.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/encoding/BeanMapper.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/encoding/CustomClassMapper.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/encoding/DeserializeContext.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/encoding/PojoBeanMapper.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/encoding/RecordMapper.java
  google-cloud-firestore/src/test-jdk17/java/com/google/cloud/firestore/RecordDocumentReferenceTest.java
  google-cloud-firestore/src/test-jdk17/java/com/google/cloud/firestore/RecordMapperTest.java
  google-cloud-firestore/src/test-jdk17/java/com/google/cloud/firestore/RecordTestHelper.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/MapperTest.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/ToStringTest.java
Labels: api: firestore, size: xl

#1826 fix: Remove race condition in test.
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITSystemTest.java
Labels: api: firestore, size: s

#1833 fix: revert "Feat: Record serialization/deserialization"
  google-cloud-firestore/pom.xml
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/CollectionReference.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/CustomClassMapper.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/DocumentSnapshot.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FieldValue.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Internal.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Query.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/QuerySnapshot.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/UpdateBuilder.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/encoding/BeanMapper.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/encoding/CustomClassMapper.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/encoding/DeserializeContext.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/encoding/PojoBeanMapper.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/encoding/RecordMapper.java
  google-cloud-firestore/src/test-jdk17/java/com/google/cloud/firestore/RecordDocumentReferenceTest.java
  google-cloud-firestore/src/test-jdk17/java/com/google/cloud/firestore/RecordMapperTest.java
  google-cloud-firestore/src/test-jdk17/java/com/google/cloud/firestore/RecordTestHelper.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/MapperTest.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/ToStringTest.java
Labels: api: firestore, size: xl

#1786 Simplify Pipeline
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Pipeline.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/PipelineResult.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/PipelineSource.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Query.java
Labels: api: firestore, size: l

#1841 Fix: fix clirr check failure
  google-cloud-firestore/clirr-ignored-differences.xml
Labels: api: firestore, size: xs

#1842 Feat: java record serialization/deserialization
  .github/workflows/ci.yaml
  .kokoro/build.sh
  google-cloud-firestore/pom.xml
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/CollectionReference.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/CustomClassMapper.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/DocumentSnapshot.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FieldValue.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Internal.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Query.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/QuerySnapshot.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/UpdateBuilder.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/encoding/BeanMapper.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/encoding/CustomClassMapper.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/encoding/DeserializeContext.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/encoding/PojoBeanMapper.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/encoding/RecordMapper.java
  google-cloud-firestore/src/test-jdk17/java/com/google/cloud/firestore/RecordDocumentReferenceTest.java
  google-cloud-firestore/src/test-jdk17/java/com/google/cloud/firestore/RecordMapperTest.java
  google-cloud-firestore/src/test-jdk17/java/com/google/cloud/firestore/RecordTestHelper.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/MapperTest.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/ToStringTest.java
Labels: api: firestore, size: xl
