Repository googleapis/java-firestore, pull requests merged in 2024-01, with the labels that each got.

#1522 docs: tweak Count API docs
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Query.java
Labels: api: firestore, size: s

#1517 feat: Logical termination for firestore.getAll(...).
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FirestoreImpl.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/FirestoreTest.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/LocalFirestoreHelper.java
Labels: api: firestore, size: s

#1523 fix: `internalStream` should handle duplicate `onComplete`s.
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Query.java
Labels: api: firestore, size: s

#1513 docs: Rring BulkWriter out of BetaApi status.
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Firestore.java
Labels: api: firestore, size: xs

#1515 fix: Make rollback best effort.
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Transaction.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/LocalFirestoreHelper.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/TransactionTest.java
Labels: api: firestore, size: m

#1532 chore: add an unmanaged dependency check
  .github/workflows/unmanaged-dependency-check.yaml
Labels: api: firestore, size: s

#1536 refactor: Optimize FieldMask instantiation
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FieldMask.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/UpdateBuilder.java
Labels: api: firestore, size: s

#1542 fix: Allow an explicit MustExist precondition for update
  google-cloud-firestore/pom.xml
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Precondition.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/UpdateBuilder.java
Labels: api: firestore, size: s

#1537 fix: Thread safe UpdateBuilder
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/BulkCommitBatch.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/UpdateBuilder.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/ToStringTest.java
Labels: api: firestore, size: m
