Repository googleapis/java-firestore, pull requests merged in 2024-04, with the labels that each got.

#1635 test: End-to-End Integration Test for Client-side Tracing in Firestore Java Server SDK using OpenTelemetry SDK and Cloud Trace Exporter against Cloud Trace.
  google-cloud-firestore/pom.xml
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITE2ETracingTest.java
Labels: api: firestore, size: xl

#1638 fix: Make telemetry-related fields transient.
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FirestoreOptions.java
Labels: api: firestore, size: xs

#1649 chore: include recommended_package in repo-metadata.json
  .repo-metadata.json
Labels: api: firestore, size: xs

#1659 fix: Add configurable to run tests against different firestore backends
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITBaseTest.java
Labels: api: firestore, size: s
