Repository googleapis/java-firestore, pull requests merged in 2024-05, with the labels that each got.

#1637 fix: Minor improvement to the ITE2ETracingTest.
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITE2ETracingTest.java
Labels: api: firestore, size: m

#1657 feat: Add 'isTransactional' attribute.
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/FirestoreImpl.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/UpdateBuilder.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/telemetry/DisabledTraceUtil.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/telemetry/EnabledTraceUtil.java
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/telemetry/TraceUtil.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITE2ETracingTest.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITTracingTest.java
Labels: api: firestore, size: m

#1673 fix: Necessary test improvements for CI environments.
  google-cloud-firestore/pom.xml
  google-cloud-firestore/src/main/java/com/google/cloud/firestore/Query.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITE2ETracingTest.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITE2ETracingTestGlobalOtel.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITE2ETracingTestNonGlobalOtel.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITTracingTest.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITTracingTestGlobalOtel.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/it/ITTracingTestNonGlobalOtel.java
  google-cloud-firestore/src/test/resources/META-INF/native-image/reflect-config.json
Labels: api: firestore, size: l

#1692 fix: Migrate off GeneratedMessageV3
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/BulkWriterTest.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/LocalFirestoreHelper.java
  google-cloud-firestore/src/test/java/com/google/cloud/firestore/TransactionTest.java
Labels: api: firestore, size: s
